.join-container {
    padding: 40px;
}

.feature{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    
}

    .feature > .feature-img {
        padding-right: 40px;

    }
.join-left {
    display: flex;
    flex-direction: column;
    
    
}
.join-form-wrap{
    background-color: #ebeaea;
    display: flex;
    flex-direction: column;
    padding:30px;
    width:300px;
    border-radius: 10px;
    max-height: 500px;
}

.join-right {
    display: flex;
    justify-content: flex-end;
}

.join-form {
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 13px;
    border: 1px solid #ffc8cb;
    background-color:#ffdee0 ;
    border-radius: 5px;
    padding: 10px 5px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.correct {
    font-size: 15px;
    border: 1px solid #99fa49;
    background-color:#c8f8a0 ;
    border-radius: 5px;
    padding: 10px 5px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

    .join-form > input {
        margin-top: 20px;
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: none;
        color: black;
    }
        .join-form > input::placeholder{
            color: #9c9797;
            padding-left: 10px;
        }

    .join-btn {
        margin-top: 30px;
    
        
    }
        .join-btn > button {
            border: none;
            padding: 10px 20px;
            background-color: rgb(89, 163, 252);;
            text-decoration: none;
            color: white;
            border-radius: 7px;
            transition: all 0.3s ease-in-out;
            
        }

            .join-btn > button:hover{
                background-color: rgb(40, 107, 189);
                cursor: pointer;
            }

@media (max-width:990px){
    .feature{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        justify-content: center;
        text-align: center; 
    }
        .feature > .feature-img {
            padding: 0;
            
        }
    
    .join-right {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .feature-text {
        margin-top: 20px;
    }

}