.video-back {
    background-color: #f6f6f6;
}

.video-container {
    padding: 40px;
    
}

.video-wrap {
    margin-top: 50px;
}

.video-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .video-left > h3 {
        font-size: 30px;
        font-weight: bold;
        
    }
    .video-left > p {
        margin-top: 20px;
    }

    @media (max-width:990px){
        .video-wrap {
            text-align: center;
        }
        .video-right {
            margin-top: 30px;
        }

    }

    @media (max-width:580px){
        .video {
            width: 300px;
        }
    }
    

    
