.header-line {
    border-bottom: 2px solid #c9c9c9;

}

.hamburger-container {
    display: none;
}

.head-container {
    padding: 20px ;
    background-color: white;
    
}
.head-left {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: auto;

}

.head-right {
    display: inline-flex;
    justify-content: center;
    list-style:none; 
    align-items: center;
    color: #7f7f7f;
}
    

    .head-right a {
        font-size: 18px;
        padding: 26px 21px;
        font-weight: 600;
        text-decoration: none;
        color: #7f7f7f;
        transition: all 0.3s;
        }

        .head-right a:hover {
            opacity: 0.7;
            cursor: pointer;
        }

    .head-btn > a {
        padding:10px 15px;
        background-color: #58a6f9;
        border-radius: 5px;
        color: white;
        margin-left: 15px;
        transition: all 0.3s ease-in;
    }
        .head-btn > a:hover {
        opacity: 0.6; 
        }


@media (max-width:992px){
    .head-wrap{
        align-content: center;
    }
     .hamburger-container{
        visibility: visible;
        display: flex;
        justify-content: flex-end;
    }

    .hamburger-container > .hamburger > .fas {
        font-size: 30px;
        cursor: pointer;
        
    }
    .head-right{
        visibility: hidden;
    }
}

@media (max-width:768px){
    .hamburger-container {
        justify-content: center;
        margin-top: 20px;
    }
}